.ModifyFormField {
    display: flex;
    flex-direction: row;
    overflow: hidden;   
}

.ModifyFormField > .Name{
    /* width: calc(45px + 5%); */
    width: 60px;
}

.ModifyFormField > input[type="text"]{
    width: 50%;
}

.ModifyFormField > .Error{
    color: red;
}

.ModifyFormField > *{
    padding: 0 3px;
    margin: 5px;
}