.ShopProductModify {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.ShopProductModify > .Control {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 100px;
}

.ShopProductModify > .Control > input[type="button"]{
    margin: 0 10px;
}

.ShopProductModify > p{
    padding: 0 3px;
    margin: 5px;
}