.RainbowFrame {
    margin-top: 10px;
    width: 100%;
}

.RainbowFrame, .RainbowFrameChild{
    border-width: 5px;
    border-style: solid;
    padding: 5px;
}

.RainbowFrame :last-child {
    text-align: center;
    color: black;
    overflow: hidden;
}
