{
  "presets": [
    "env",
    "react",
    "stage-2",
    "es2015"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-decorators-legacy",
    "transform-react-inline-elements",
    ["import", { "libraryName": "@material-ui/core",  "libraryDirectory": "", "camel2DashComponentName": false}, "core"],
    ["import", { "libraryName": "@material-ui/lab",   "libraryDirectory": "", "camel2DashComponentName": false}, "lab"],
    ["import", { "libraryName": "@material-ui/icons", "libraryDirectory": "", "camel2DashComponentName": false}, "icons"],
    [
      "react-css-modules",
      {
        "generateScopedName": "[path]_[name]_[local]",
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss",
            "plugins": [
              "postcss-nested"
            ]
          }
        }
      }
    ]
  ]
}
