
.rainbowframe{
    width: 100%;
}

.rainbowframe, .rainbowframe *{
    border-width: 5px;
    border-style: solid;
    padding: 5px;
}

.rainbowframe :last-child {
    text-align: center;
    color: black;
    overflow: hidden;
}
